html{
  max-height: 100vh;
  overflow-x: hidden;
}
body{
  background-color: black;
  background-image: url("../src/assets/adult-band-black-and-white-concert.jpg");
  position: center;
  color:white;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  margin:1% 7%;
}
@media screen and (max-width:700px){
  body{
    margin: 0%;
    overflow-x: hidden;
  }
  .html{
    display: flex;
    flex: 1 1;
  }
}